<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.creditmanager.model.User" />
        <mapping class="com.creditmanager.model.Role" />
        <mapping class="com.creditmanager.model.Person" />
        <mapping class="com.creditmanager.model.Project" />
        <mapping class="com.creditmanager.model.Accesor" />
        <mapping class="com.creditmanager.model.Evaluator" />
        <mapping class="com.creditmanager.model.Form" />
        <mapping class="com.creditmanager.model.Contact" />
        <mapping class="com.creditmanager.model.AdditionalForm" />
        <mapping class="com.creditmanager.model.Payment" />
        <mapping class="com.creditmanager.model.report.DefaultProjects" />
    </session-factory>
         
</hibernate-configuration>